_out/
.vscode/ipch/
.clangd/
.vs/
**/.idea/
**/*.nvmk
**/compile_commands.json
.vscode/vscode-kanban.json
tags
cscope.out

# CMake generated
CMakeFiles/
CMakeCache.txt
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
cmake_install.cmake

# compiled
*.a
*.so
lib*.so.*

dcgm_decode_db.txt
